:root {
    --white: #FCFCFD;
    --black: #36395A;
    --blue: #0055A4; 
    --red: #EF4135;
    --gray: rgba(45, 35, 66, 0.4);
    --anki-fixed-height: 91vh;
    --font-family: arial, sans;
}
.btn {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: var(--black);
    cursor: pointer;
    display: block;
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.btn:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.btn:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.btn:disabled:active {
    pointer-events: none;
}

.btn:disabled:hover {
    box-shadow: none;
}
.typeGood, .typeBad, .typeMissed, .typeArrow {
    background: transparent;
    font-family: var(--font-family);
    font-size: 2rem;
}
.typeGood {
    color: var(--blue);
}
.typeBad {
    color: var(--red);
}
.typeMissed {
    color: var(--black);
}
.typeArrow {
    color: var(--black);
}
.canvas-flex {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.label {
    align-items: center;
    appearance: none;
    background-color: var(--white);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--black);
    display: inline-flex;
    font-family: var(--font-family);
    justify-content: start;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    flex-direction: column;
}
.toggle {
    --width: 10vw;
    --height: calc(var(--width) * 3);
    --ease-time: 0.2s;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    font-family: var(--font-family);
    transition: all var(--ease-time) ease-in-out;
    overflow: hidden;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: var(--black);
    background: var(--white); 
    text-align: center;
    transition: all var(--ease-time) ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--white);
    background: var(--gray);
    transition: all var(--ease-time) ease-in-out;
}

.toggle .red::before {
    color: var(--white);
    background: var(--red);
}

.toggle .blue::before {
    color: var(--white); 
    background: var(--blue);
}

.toggle input:checked~.labels::before, 
.toggle input:checked~.labels::after {
    transform: translateX(var(--width));
}